@media screen and (max-width:767px){
    .header{
        width: 250px;
    }
    .contents{
        width:250px;
    }
    .right{
        width: 100px;
    }
    .footer{
        width: 250px;
    }
}
@media screen and (max-width:469px){
    .header{
        width: 150px;
    }
    .contents{
        float:none;
        height:500px;
        width:150px;
    }
    .left{
        height:50%;
    }
    .right{
        height:50%;
        width:150px;
    }
    .footer{
        width: 150px;
    }
}