@media screen and (max-width:479px){
    .wrapper{
        width:200px;
    }
    .header{
        height:200px;
        padding:20px 70px;
    }
    .header-box{
        height:160px;
        width:60px;
    }
    .box1{
        margin-top: 10px;
        margin-left: 10px;
    }
    .box2{
        margin-top: 60px;
        margin-left: 10px;
    }
    .box3{
        margin-top: 110px;
        margin-left: 10px;
    }
    .contents{
        float:none; /*float解除*/
        height:310px;
    }
    .left{
        height:100px;
        width:100%;
    }
    .right{
        height:210px;
        width:200px;
    }
    .right1{
        margin-left:30px;
        margin-top:20px;
    }
    .right2{
        margin-left:30px;
        margin-top:80px;
    }
    .right3{
        margin-left:30px;
        margin-top:140px;
    }
    .footer{
        height:100px;
    }
}